@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    outline: 0;
}

:root {
    --variable_color: rgb(156, 88, 70);
    --primary-color-dark: rgba(80, 64, 64, 0.795);
}

body {
    background: var(--variable_color);
    margin: 2ch;
    padding: 0;
    font-family: "Open sains", sans-serif;
    font-size: 1.3em;
    line-height: 1.5;
    

}

.container {
    margin: auto;
    max-width: 640px;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}


form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--variable_color)
}

form button {
    border:none;
    background: var(--variable_color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-dark);
}

.dados {
    padding-left: 0;
    margin-left: 0cm;
    
}

.resultado {
    float: right;

}

